// * {
//   box-sizing: border-box;
// }

.photo {
  background-repeat: no-repeat;
  background-image: url('../../../images/perfil/frond-maria.jpg');
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 15px;
  background-color: #de2b9fcc;
  border: 6px solid white;
  border-radius: 50%;
  float: left;
  shape-outside: circle() margin-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  img#perfil-back {
    width: 100%;
  }
}

.wrapper {
  .card {
    height: 420px;
    perspective: 1500px;
    background-color: transparent;
    border: none;
    .more {
      display: none;
      &:checked~.content {
        transform: rotateY(180deg);
      }
    }
    .content {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
      .front, .back {
        background-color: transparent;
        background-image: url("../../../images/backgrounds/Scattered-Forcefields.svg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, .125);
        .card-body {
          transform: translateZ(80px) scale(0.94);
          label.button {
            background-color: #a70dbdba;
            border: solid 2px #fff;
            color: #fff;
            grid-row: -1;
            width: 47px;
            min-width: 3em;
            height: 47px;
            line-height: 2.9em;
            padding: 0;
            margin: 10px;
            position: relative;
            z-index: 1;
            cursor: pointer;
            letter-spacing: 1px;
            overflow: hidden;
            vertical-align: middle;
            border-radius: 50%;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-backface-visibility: hidden;
            transition: all 0.5s ease-in-out;
            backface-visibility: hidden;
            &:hover {
              background-color: #ef4ea3db;
              box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
              text-shadow: none;
            }
            &.return {
              line-height: 3em;
              text-shadow: none;
              &:hover {
                background-color: #355cc9ad;
                box-shadow: none;
              }
            }
            i {
              font-size: 1.25rem;
            }
          }
        }
      }
      .front {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 6px;
        }
        .card-body {
          h5 {}
          ul {
            text-align: left;
            li {
              padding: .25rem .50rem;
              background-color: transparent;
              //border: none;
            }
          }
        }
      }
      .back {
        transform: rotateY(180deg);
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: lighten(#355cc9, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}
