//@import './src/sass/daiclover.scss';

.Portafolio {
  header {
    height: auto;
    nav {
      #nav-tab {
        a.nav-link {
          &.active {
            color: black;
            font-weight: 600;
          }

          span {
            font-size: 24px;
          }
        }
      }
    }
  }
  .card {
    border: 1px solid #fb00798a;
    &:hover {
      border: 1px solid rgba(44, 251, 0, 0.54);
      //background-color: rgba(93, 211, 214, 0.54);
    }
    img.card-img-top {
      padding: .25rem;
    }
    .card-body {
      .card-link {
        color: black;
        &:hover {
          color: #fb0079d5;
          font-weight: bold;
        }
      }
    }
  }
}