@import './src/sass/daiclover.scss';

footer.footer {
  background-color: #9a9a9aab;
  //padding-top: 30px;
  color: black;
  .contenido {
    padding-bottom: 30px;
    #dir {
      //padding: 15px;
      h3 {
        font-weight: 800;
      }
      div {
        iframe {
          border: 0;
          width: 100%;
        }
        h6 {}
        p {}
      }
    }
    #info {
      .redes {
        ul.social-redes {
          padding-left: 0;
          margin-bottom: 0;
          li {
            //width: 30px;
            //padding: .25rem;
            font-size: 20px;
            list-style: none;
            margin: auto;
            a.btn-social {
              .fa-facebook-f {
                color: $facebook;
              }
              .fa-twitter {
                color: $twitter;
              }
              .fa-linkedin-in {
                color: $linkedin;
              }
              .fa-github {
                color: $github;
              }
            }
            &:hover {
              //width: 35px;
              i {
                font-size: 25px;
                margin-top: -10px;
              }
            }
          }
        }
      }
    }
    #contacto {
      .box-contacto {
        // height: 150px;
        height: auto;
        width: auto;
        padding: 5px;
        border-radius: 30px;
        background-color: #fffefe87;
        border: 1px solid #9a9a9ad1;
        box-sizing: border-box;
        font-size: 13px;
        position: fixed;
        right: 2.5%;
        bottom: 5%;
        z-index: 5;
        .btn-circle {
          border-radius: 50%;
          width: 40px;
          height: auto;
          padding: 5px;
          margin: .2rem;
        }
        #facebook, #e-mail {
          display: none;
        }
        &:hover {
          // height: 145px;
          // width: 55px;
          #whatsapp, #facebook, #e-mail {
            display: block;
          }
        }
      }
    }
  }
  .footer-copyright {
    color: white;
    border-top: 1px solid #00000054;
    background-color: #000000ad;
    font-size: 13px;
    p {
      margin-bottom: 0;
      // &:hover {
      //   font-size: 30px;
      //   margin-top: -10px;
      // }
    }
  }
}