@import './src/sass/daiclover.scss';

footer.footer {
  background-color: #9a9a9aab;
  color: black;

  .contenido {
    .box-contacto {
      height: auto;
      width: 59px;
      padding: 5px;
      border-radius: 30px;
      background-color: #fffefe87;
      border: 1px solid #9a9a9ad1;
      box-sizing: border-box;
      font-size: 13px;
      position: fixed;
      right: 1%;
      bottom: 5%;
      z-index: 5;

      .btn-circle {
        border-radius: 50%;
        width: 40px;
        height: auto;
        margin: .2rem;
        display: flex;
        justify-content: center;
      }
    }
  }

  .footer-copyright {
    color: white;
    border-top: 1px solid #00000054;
    background-color: #000000ad;
    font-size: 13px;
    display: flex;
    justify-content: center;

    h6 {
      display: flex;
      align-items: center;

      span.share-card {
        display: flex;
        position: fixed;
        z-index: 1035;
        top: 1.2em;
        right: 40rem;

        @media (max-width: 575.98px) {
          top: 4.5rem;
          right: 1rem;
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
          top: 1.3rem;
          right: 12rem;
        }

        @media (min-width: 768px) and (max-width: 991.98px) {
          top: 1.3rem;
          right: 7rem;
        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
          top: 1.2em;
          right: 19rem;
        }

        @media (min-width: 1200px) and (max-width: 1440px) {
          top: 1.25em;
          right: 24rem;
        }

        a {
          padding: .1rem .3rem;
          width: 27.8px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          border-radius: 4px;

          i {
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &.fa-whatsapp {
              color: $whatsapp;
            }

            &.fa-facebook-f {
              color: $facebook;
            }

            &.fa-twitter {
              color: $twitter;
            }

            &.fa-linkedin-in {
              color: $linkedin;
            }

            &.fa-telegram-plane {
              color: $telegram;
            }
          }

          &.whatsapp:hover {
            background-color: $whatsapp;

            i {
              color: white;
            }
          }

          &.facebook:hover {
            background-color: $facebook;

            i {
              color: white;
            }
          }

          &.twitter:hover {
            background-color: $twitter;

            i {
              color: white;
            }
          }

          &.linkedin:hover {
            background-color: $linkedin;

            i {
              color: white;
            }
          }

          &.telegram:hover {
            background-color: $telegram;

            i {
              color: white;
            }
          }
        }
      }
    }
  }
}