@import './src/sass/daiclover.scss';

footer.footer {
  background-color: #9a9a9aab;
  color: black;

  .contenido {
    .box-contacto {
      height: auto;
      width: 59px;
      padding: 5px;
      border-radius: 30px;
      background-color: #fffefe87;
      border: 1px solid #9a9a9ad1;
      box-sizing: border-box;
      font-size: 13px;
      position: fixed;
      right: 1%;
      bottom: 5%;
      z-index: 5;

      .btn-circle {
        border-radius: 50%;
        width: 40px;
        height: auto;
        // padding: 5px;
        margin: .2rem;
        display: flex;
        justify-content: center;
      }

      #facebook,
      #e-mail {
        //display: none;
      }

      &:hover {

        #whatsapp,
        #facebook,
        #e-mail {
          //display: block;
        }
      }
    }
  }

  .footer-copyright {
    color: white;
    border-top: 1px solid #00000054;
    background-color: #000000ad;
    font-size: 13px;
    display: flex;
    justify-content: center;

    h6 {
      display: flex;
      align-items: center;

      span.autor {
        // background-color: red;
      }

      span.share-card {
        display: flex;

        a {
          padding: .1rem .3rem;
          width: 27.8px;
          height: 25px;
          // margin-right: 3px;
          // margin-left: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          border-radius: 4px;

          i {
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &.fa-whatsapp {
              color: $whatsapp;
            }

            &.fa-facebook-f {
              color: $facebook;
            }

            &.fa-twitter {
              color: $twitter;
            }
          }

          &.whatsapp:hover {
            background-color: $whatsapp;

            i {
              color: white;
            }
          }

          &.facebook:hover {
            background-color: $facebook;

            i {
              color: white;
            }
          }
          
          &.twitter:hover {
            background-color: $twitter;

            i {
              color: white;
            }
          }
        }
      }
    }
  }
}