@import './src/sass/daiclover.scss';

html,
body {
  height: 100%;

  /* scroll */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

body {
  background-color: #ffffff;
  background-image: url("../src/images/backgrounds/Pattern-Randomized.svg"); /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: cover;

  #root {
    height: 100%;

    .App {
      height: 100%;

      header {
        font-family: 'Bad Script', cursive;
      }

      main {
        min-height: calc(100% - 144px);

        section {
          .contentgral {
            padding-top: 3rem;
            padding-bottom: 3rem;

            @media (max-width: 575.98px) {
              padding: 15px;
            }

            @media (min-width: 768px) and (max-width: 991.98px) {
              padding-top: 2rem;
              padding-bottom: 2rem;
            }

            h1 {
              font-family: 'Life Savers', cursive;
            }

            h2 {
              font-family: 'Rye', cursive;
            }

            h3 {
              font-family: 'Merienda', cursive;
            }

            h4 {
              font-family: 'Crimson Text', serif;
            }

            h5 {
              font-family: 'Fredericka the Great', cursive;
            }

            h6 {
              font-family: 'Marck Script', cursive;
            }

            // h1, h2, h3, h4, h5, h6 {
            //   button {
            //     font-family: 'Caveat', cursive;
            //   }
            // }

            label,
            ul li {
              font-family: 'Kalam', cursive;
            }

            button {
              font-family: 'Courgette', cursive;
            }

            p {
              font-family: 'Comic Neue', cursive;
              text-align: left;
            }

            span {
              font-family: 'Bellota', cursive;
            }

            a {
              font-family: 'Fondamento', cursive;

              span {
                font-family: 'Dancing Script', cursive;
              }
            }
          }
        }
      }

      footer {
        height: 74px;
        font-family: 'Marck Script', cursive;
      }
    }
  }
}